<div class="accordeon">
  <div class="container">
    <div class="accordeon-wrapper">
      <div class="container-inner">
        <button class="accordeon__btn">
          Как определить профессионального риелтора?
        </button>
        <div class="accordeon__content">
          Зайдите на&nbsp;ресурс &laquo;Единый реестр сертифицированных компаний и&nbsp;аттестованных специалистов рынка недвижимости&raquo;&nbsp;&mdash; это проект Российской Гильдии Риелторов. Сертифицированные агентства и&nbsp;риелторов можно найти по&nbsp;названию населенного пункта, названию компании или по&nbsp;фамилии агента.
        </div>
      </div>
    </div>
  </div>
</div>