<section class="advice">
    <div class="container">
        <h2 class="advice__title"> 
            Как продать квартиру в&nbsp;ипотеке? 
        </h2>
        <blockquote class="advice__blockquote">
            <quote class="advice__quote"> 
                Если с&nbsp;банком не&nbsp;рассчитался, а&nbsp;уже хочется съезжать 
            </quote>
            <div class="advice__user user flex">
                <picture class="user__avatar">
                    <source srcset="../img/author-icon-1.webp" type="image/webp">
                    <img loading="lazy" src="../img/author-icon-1" class="image" width="" height="" alt="аватар">
                </picture>
                <div class="user__block">
                    <p class="user__name">Артем Куреев</p>
                    <p class="user__descr">Юрист в&nbsp;агенстве недвижимости</p>
                </div>
            </div>
        </blockquote>
        <figure class="illustration">
            <picture>
                <source srcset="../img/advice.webp" type="image/webp"> 
                <img loading="lazy" src="../img/advice" class="image" width="" height="" alt="иллюстрация">
            </picture>
            <figcaption class="author">Иллюстрация: Андрей Смольников</figcaption>
        </figure>
    </div>
    <div class="container-inner">
        <p class="advice__text">
            Обычная российская семья платит ипотеку за&nbsp;однушку не меньше 10&nbsp;лет. За&nbsp;это время может случиться всякое:  родятся 
            и&nbsp;пойдут в&nbsp;школу дети, захочется расширить жилплощадь или вовсе переехать в&nbsp;другой город. Как быть с&nbsp;ипотечной квартирой? Портал недвижимости расскажет, как продать объект в&nbsp;залоге без тревог и&nbsp;нервотрёпки.
        </p>
    </div>
</section>