<article class="article">
  <div class="container">
    <div class="container-inner">
      <h4 class="article__title">
        О чем узнаете в статье
      </h4>
      <nav class="nav" title="О чем вы узнаете в статье">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#statistics" class="nav__link" data-scroll>
              Статистика и основные проблемы
            </a>
          </li>
          <li class="nav__item">
            <a href="#methods" class="nav__link" data-scroll>
              3 способа продать ипотечную квартиру
            </a>
          </li>
        </ul>
      </nav>
      <h4 id="statistics" class="article__title">
        Статистика и основные проблемы
      </h4>
      <div class="article__note">
        В 2021 году россияне <span>оформили</span> 1,9 млн ипотечных кредитов. Это то же самое, если бы все жители
        Казани
        и&nbsp;Челнов
        решили разом взять ипотеку. Общая сумма взятой россиянами ипотеки составляет 5,7 трлн. рублей. Это рекордные
        показатели с&nbsp;1998 года.
        <br>
        Татарстанцы в&nbsp;этом вопросе <span>занимают</span> пятое место по&nbsp;стране. Жители республики
        <span>взяли</span> 60,7 тыс. ипотечных кредитов за&nbsp;11 месяцев 2021 года. Сумма сделок превышает 150 млрд
        рублей, что на&nbsp;8% выше аналогичного периода 2020 года.
      </div>
      <p class="article__text">
        Рано или поздно купленная в&nbsp;ипотеку недвижимость выходит на&nbsp;вторичный рынок. Хорошо, если кредит
        за&nbsp;объект уже погашен, но все чаще встречаются ситуации, когда люди вынуждены продать квартиру
        с&nbsp;долгом.
        Причины могут быть разными: кто-то стремится улучшить свои жилищные условия, кто-то разводится и&nbsp;делит
        имущество, кто-то не может выплатить долг, кому-то в&nbsp;срочно понадобились деньги. Как итог - рынок
        пополняется предложениями о&nbsp;продаже жилых объектов в&nbsp;залоге.
      </p>
      <p class="article__example">
        Например, Юля. Девушка купила однушку в&nbsp;ипотеку год назад. Платила ежемесячно по&nbsp;12 тыс. рублей, но
        успела покрыть
        только 60 тыс. рублей основного долга, осталась должна банку 1 млн. рублей. Юля переезжает в&nbsp;другой город
        и&nbsp;теперь
        не знает, что делать с&nbsp;ипотечной квартирой. Можно ли ее быстро и выгодно продать?
      </p>
    </div>
    <blockquote class="article__blockquote">
      <div class="container-inner">
        <div class="user flex">
          <picture class="user__avatar">
            <source srcset="../img/author-icon-2.webp" type="image/webp">
            <img loading="lazy" src="../img/author-icon-2." class="image" width="" height="" alt="аватар">
          </picture>
          <div class="user__block">
            <p class="user__name">Алена Мавлютова</p>
            <p class="user__descr">Специалист агенства недвижимости «Риэлти»</p>
          </div>
        </div>
        <div class="article__quote">
          &mdash;Жилых объектов с&nbsp;ипотекой в&nbsp;Казани много: свободных денег у&nbsp;людей становится всё меньше.
          Сразу отмечу, продажа квартиры с&nbsp;обременением —&nbsp;не простая сделка. Требуется договориться и
          с&nbsp;покупателем (для внесения большого задатка) и с&nbsp;банком.
        </div>
      </div>
    </blockquote>
    <div class="container-inner">
      <h4 id="methods" class="article__title">
        3 способа продать ипотечную квартиру
      </h4>
      <p class="article__text ">
        История Марины - скорее счастливая случайность. Для нее все сложилось наилучшим образом -&nbsp;знакомым
        понравилась
        именно ее недвижимость.
        <br>
        Но не каждый покупатель захочет и&nbsp;сможет доверить деньги незнакомому продавцу и&nbsp;ждать несколько дней,
        а&nbsp;может
        быть и&nbsp;дольше, пока банк снимет обременение. Найти такого человека, суметь с&nbsp;ним договориться,
        составить
        юридически верное соглашение о&nbsp;внесении задатка -&nbsp;непростая задача. Но все возможно, особенно если вы
        заручились
        поддержкой в&nbsp;решении этого вопроса опытного риэлтора.
      </p>
      <figure class="illustration">
        <picture>
          <source srcset="../img/article.webp" type="image/webp">
          <img loading="lazy" src="../img/article" class="image" width="" height="" alt="иллюстрация">
        </picture>
        <figcaption class="author">Фото: Александр Синельников. На&nbsp;фото изображен жилой дом по&nbsp;улице Академика Сахарова. 1987 год постройки</figcaption>
      </figure>
    </div>
    <blockquote class="article__blockquote blockquote-addiction">
      <div class="container-inner">
        <q class="article__quote quote-addiction">Если в&nbsp;процессе сделки стоимость квартир на&nbsp;рынке вырастет, а&nbsp;договор купли-продажи уже будет заключён, цену на&nbsp;недвижимость изменить вы не сможете</q>
        <div class="user flex user-addiction">
          <picture class="user__avatar">
            <source srcset="../img/author-icon-2.webp" type="image/webp">
            <img loading="lazy" src="../img/author-icon-2" class="image" width="" height="" alt="аватар">
          </picture>
          <div class="user__block">
            <p class="user__name">Алена Мавлютова</p>
            <p class="user__descr">Специалист агенства недвижимости «Риэлти»</p>
          </div>
        </div>
      </div>
    </blockquote>
    <div class="container-inner">
      <p class="article-steps__subtitle">
        Продажа ипотечной квартиры с&nbsp;участием банка-кредитодателя пошагово:
      </p>
      <ol class="article-steps__list">
        <li class="article-steps__item">
          Уведомить банк о&nbsp;продаже. Подойдите в&nbsp;отделение клиентского обслуживания и&nbsp;напишите заявление. Объясните причину продажи.
        </li>
        <li class="article-steps__item">
          Взять справку о размерах остатка основного долга (это можно сделать онлайн).
        </li>
        <li class="article-steps__item">
          Заключить договор купли-продажи с&nbsp;покупателем.
        </li>
        <li class="article-steps__item">
          Удостоверится, что покупатель перечислил деньги на&nbsp;аккредитив или в&nbsp;банковскую ячейку, после чего ждать снятия обременения. Это занимает 5-7 рабочих дней, но порой сроки могут затянуться до&nbsp;30 рабочих дней. Эксперты советуют обратиться в&nbsp;службу поддержки с&nbsp;просьбой ускорить процесс.
        </li>
        <li class="article-steps__item">
          Получить закладную и&nbsp;выписку об&nbsp;отсутствии обременения.
        </li>
        <li class="article-steps__item">
          Сдать документы в&nbsp;МФЦ на&nbsp;регистрацию.
        </li>
        <li class="article-steps__item">
          Получить оставшуюся часть денег.
        </li>
      </ol>
      <div class="article-steps__note">
        <span>Примечание 1:</span> Сделка с&nbsp;участием банка приостановится на&nbsp;время снятия обременения. Но каждая из&nbsp;сторон в&nbsp;это время будет юридически защищена.
      </div>
    </div>
  </div>
</article>